body {
    font: normal 11pt Arial;
    background-color: rgb(135, 250, 250);
}
header {
    text-align: center;
    color: azure;
}

section {
    background-color: white;
    padding: 15px;
    width: 500px;
    margin: auto;
    border: 15px;
    box-shadow: 3px 3px 3px rgb(126, 119, 119);
}

footer {
    text-align: center;
    font: normal 10pt Italic;
}